/* Body styling */

body {
    background-image: linear-gradient(to right, #ffc93c,#ffb0b0);
}

/* Header Styling */

#header h1 {
    text-align: center;
    font-weight: bold;
}

#header h3 {
    text-align: center;
    font-weight: bold;
}

/* enterAmount Styling */

.amountStyle {
    padding: 4rem 2rem;
}

/* Savings Style */

.savingsAddActivity {
    width: 14rem;
    height: 2.5rem;
    outline: none;
    border: solid 1px rgb(19, 71, 32);
    padding-left: 1rem;
    border-radius: 0.25rem;
}

.savingsAddActivity::placeholder {
    color: #28a745;
}

.expenseValue {
    width: 6rem;
    height: 2.5rem;
    outline: none;
    border: solid 1px rgb(19, 71, 32);
    padding-left: 1rem;
    border-radius: 0.25rem;
}

.expenseValue::placeholder {
    color: #28a745;
}

.addSaving {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.2rem;
    background-color: #28a745;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border-color: #28a745;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.addSaving:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Spendings Style */

.spendingsAddActivity {
    width: 14rem;
    height: 2.5rem;
    outline: none;
    border: solid 1px #dc3545;
    padding-left: 1rem;
    border-radius: 0.25rem;
}

.spendingsAddActivity::placeholder {
    color: #dc3545;
}

.spendingsValue {
    width: 6rem;
    height: 2.5rem;
    outline: none;
    border: solid 1px #dc3545;
    padding-left: 1rem;
    border-radius: 0.25rem;
}

.spendingsValue::placeholder {
    color: #dc3545;
}

.addSpending {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.2rem;
    background-color: #dc3545;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border-color: #dc3545;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.addSpending:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Expense Tracker Styling */

/* Savings */

.savings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.savingsItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
    align-items: center;
    border-bottom: 1px solid;
}

.savingsItem p {
    font-weight: 600;
    font-size: large;
    margin-bottom: 0.3rem;
}

.savingsItem button {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    background-color: #dc3545;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border-color: #dc3545;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.savingsItem button:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Spendings */

.spendings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.spendingsItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    border-bottom: 1px solid;
}

.spendingsItem p {
    font-weight: 600;
    font-size: large;
    margin-bottom: 0.3rem;
}

.spendingsItem button {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    background-color: #dc3545;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border-color: #dc3545;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.spendingsItem button:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Accumulator */

.accumulator {
    text-align: center;
}

.accumulator button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border-color: #28a745;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}

.accumulator button:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Reset */

.resetStyle {
    display: flex;
    justify-content: center;
}

.resetStyle button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: #e0b329ce;
    color: white;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    border-color: black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}

.resetStyle button:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}